<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      CLVR Lab since 2017 |
      <!-- Copyright CLVR {{ site.time | date: '%Y' }} |-->
      <!--Kim Jaechul Graduate School of AI | Korea Advanced Institute of Science and Technology |-->
      <!--Department of Computer Science | University of Southern California |-->
      <a href='https://github.com/clvrai'>On Github {% include icon-github.svg %}</a>
    </div>

  </div>

</footer>
