<div id="group_by_year">
  {% assign pub_grouped = include.data | group_by: 'year' %}
  {% for pub_group in pub_grouped %}
  <h2 class='title-line'>{{ pub_group.name }}</h2>
  {% for pub in pub_group.items %}
  <div class="row pub-center">
    <div class="col-lg-1"></div>
    <div class="col-lg-3 paper-image-container">
      <img class="paper-image" src="{{ pub.paper_image }}">
    </div>
    <div class="col-lg-8 paper-description-container">
      <b class="paper-title">{{ pub.title }}</b>
      <br> {{ pub.authors }}
      <br>
      <div>
        <b>{{ pub.publication }}</b>
        {% if pub.pdf %} <a target="_blank" href="{{ pub.pdf }}">[PDF]</a> {% else %} [PDF to come] {% endif %}
        {% if pub.arxiv %} <a target="_blank" href="{{ pub.arxiv }}">[arXiv]</a> {% endif %}
        {% if pub.web %} <a target="_blank" href="{{ pub.web }}">[Project]</a> {% endif %}
        {% if pub.code %} <a target="_blank" href="{{ pub.code }}">[Code]</a> {% endif %}
        {% if pub.data %} <a target="_blank" href="{{ pub.data }}">[Data]</a> {% endif %}
        {% if pub.spotlight %} <a target="_blank" href="{{ pub.spotlight }}">[Spotlight]</a> {% endif %}
        {% if pub.talk %} <a target="_blank" href="{{ pub.talk }}">[Talk]</a> {% endif %}
        {% if pub.environment %} <a target="_blank" href="{{ pub.environment }}">[Environment]</a> {% endif %}
      </div>
    </div>
    <div class="col-lg-0"></div>
  </div>
  {% endfor %} {% endfor %}

</div>

<div id="group_by_topic" style="display: none">
{% assign pub_grouped = include.data | group_by: 'topic' %}
{% for pub_group in pub_grouped %}
<h2 class='title-line' id="{{ pub_group.name }}">{{ pub_group.name }}</h2>
{% for pub in pub_group.items %}
<div class="row pub-center">
    <div class="col-lg-1"></div>
    <div class="col-lg-3 paper-image-container">
    <img class="paper-image" src="{{ pub.paper_image }}">
    </div>
    <div class="col-lg-8 paper-description-container">
    <b class="paper-title">{{ pub.title }}</b>
    <br> {{ pub.authors }}
    <br>
    <div>
        <b>{{ pub.publication }}</b>
        {% if pub.pdf %} <a target="_blank" href="{{ pub.pdf }}">[PDF]</a> {% else %} [PDF to come] {% endif %}
        {% if pub.arxiv %} <a target="_blank" href="{{ pub.arxiv }}">[arXiv]</a> {% endif %}
        {% if pub.web %} <a target="_blank" href="{{ pub.web }}">[Project]</a> {% endif %}
        {% if pub.code %} <a target="_blank" href="{{ pub.code }}">[Code]</a> {% endif %}
        {% if pub.data %} <a target="_blank" href="{{ pub.data }}">[Data]</a> {% endif %}
        {% if pub.spotlight %} <a target="_blank" href="{{ pub.spotlight }}">[Spotlight]</a> {% endif %}
        {% if pub.talk %} <a target="_blank" href="{{ pub.talk }}">[Talk]</a> {% endif %}
        {% if pub.environment %} <a target="_blank" href="{{ pub.environment }}">[Environment]</a> {% endif %}
    </div>
    </div>
    <div class="col-lg-0"></div>
</div>
{% endfor %} {% endfor %}

</div>
