<div id='desc' class='container-fluid bg-type-1 py-5'>
  <div class='container'>
    <div class="row">
      <div class="col">
        <h1>Environment</h1>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p>
        Chain REAction Tool Environment (CREATE) is based on the popular puzzle <a href="https://en.wikipedia.org/wiki/The_Incredible_Machine_(series)">The Incredible Machine</a>.
        The objective is to solve Physics-based puzzles by using an available set of tools, carefully performing their selection and positioning. The common underlying objective is to make the red ball (target) reach the goal (green) which may or may not be moving.
        </p>
        Functionalities in the environment include:
        <ul>
            <li><b>Multi-step environment</b>: Agent places a tool after every few iterations of simulation acting on <i>image</i> observations.</li>
            <li><b>Gym interface</b>: Enables convenient training of reinforcement learning algorithms.</li>
            <li><b>Simple and Fast</b>: Runs headless and supports flexible resolutions for rendering.</li>
            <li><b>Tools</b>: 12 base tool types, with many more variations of sizes, angles, friction parameters.</li>
            <li><b>Tasks</b>: 12 complex tasks with stochastic variations and an easy <a href="https://github.com/gitlimlab/CREATE#defining-tasks">interface</a> to create many more tasks. Suitable for meta reinforcement learning.</li>
        </ul>

        <p>
        Try out the <a href="#demo">demo</a> below to play the 1-step version of the game. Note that the actual environment allows one tool to be placed at a time step, as seen in a trained policy's solutions in <a href="#tasks">tasks</a>.
        </p>
      </div>
    </div>
  </div>
</div>
